<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

    <h2>Maniananannanan</h2>
          <% data.forEach((element)=>{ %>
                    <h2><%= element.name%></h2>
                    <h2><%= element.mail%></h2>
                    <h2><%= element.num%></h2>
                    <h3>///////////////////////////////</h3>
            <% }) %>
</body>
</html>