<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
            <div class="w-full min-h-screen bg-zinc-900 text-white">
                <form action="/register">
                    <input type="text" name="username" id="" placeholder="name">
                    <input type="email" name="email" id="" placeholder="email">
                    <input type="password" name="password" id="" placeholder="password">
                    <input type="submit" value="Create Account">
                </form>
            </div>
</body>
</html>